<a href="https://colab.research.google.com/github/lukaszek358/Data_Science_Bootcamp/blob/main/2_Pandas/1_Data_Science_Bootcamp_w_j%C4%99zyku_Python_od_A_do_Z_Analiza_Danych_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas
>Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
>Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)
>
>Podstawowa biblioteka do analizy danych w języku Python.
>
>Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```

In [1]:
import pandas as pd
pd.__version__

'1.5.3'

# Podstawowe struktury danych: pd.Series


> Indented block

In [3]:
s = pd.Series(data= [3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [5]:
s = pd.Series(data= [3, 2, 4, 6], index = ['a', 'b', 'c', 'd'], name = 'sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [6]:
s = pd.Series(data= [3., 2, 4, 6], index = ['a', 'b', 'c', 'd'], name = 'sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [8]:
#obiekt pusty z biblioteki numpy
import numpy as np
np.nan

nan

In [9]:
#wstawianie pustego obiektu do naszego pd.Series
s = pd.Series(data= [3., np.nan, 4, 6], index = ['a', 'b', 'c', 'd'], name = 'sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [10]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [31]:
s = pd.Series(data = np.arange(10, 20), index = pd.date_range(start = '20200101', periods = 10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [29]:
#atrybuty
s.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
#konwersja atrybutów do listy i wyświetlenie jako lista
list(s.index)

[0, 1, 2]

In [32]:
s.dtypes

dtype('int64')

In [22]:
s = pd.Series(data = ['python', 'java', 'sql'], name = 'languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [14]:
type(s)

pandas.core.series.Series

In [16]:
#atrybuty - informacja o indeksach
s.index

RangeIndex(start=0, stop=3, step=1)

In [23]:
#atrybuty - informacja o waertościach w tablicy
s.values

array(['python', 'java', 'sql'], dtype=object)

In [26]:
#atrybuty - informacja o typie danych
s.dtypes

dtype('O')

In [33]:
#atrybuty - kształt danych
s.shape

(10,)

In [46]:
price = pd.Series(data={'Apple': 200,
                        'CD Projekt': 60,
                        'Amazon': 1900,
                        'KGHM' : np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [36]:
#wycena spółki CD Projekt

price['CD Projekt']
# price[1]

60

In [47]:
#zliczanie elementów w obiekcie typu series
price.count()

3

In [49]:
#sprawdza nam liczność wystąpień danego obiektu
price.value_counts(dropna = False)

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [41]:
#zsumowanie waertości w obiekcie pd.Series
price.sum()

2160

In [42]:
#wmartość maks
price.max()

1900

In [50]:
#wartość min
price.min(skipna=False)

nan

In [44]:
#odchylenie standardowe
price.std()

1024.3046421841502

In [45]:
#statystyki zbiorcze dla obiekty pd.Series
# .describe - nie zwraca w podsumowaniu liczby braków w danych !!!

price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [53]:
# 2 największe spółki
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [56]:
#2 najmniejsze spółki
price.nsmallest(2)

CD Projekt     60.0
Apple         200.0
dtype: float64

In [57]:
#ranking dla poszczególnych elementów w pd.Series
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [58]:
#sortowanie - domyślnie rosnąco
price.sort_values()

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [59]:
#sortowanie - malejąco
price.sort_values(ascending= False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

Metoda .apply()

In [61]:
#pd.Series przemnożone przez kurs 3.8 z wykorzystaniem funkcji lambda x
price_PLN = price.apply(lambda x: x * 3.8)

In [62]:
price_PLN

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [63]:
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

# Podstawowe struktury danych: pd.DataFrame

In [72]:
df = pd.DataFrame(data = [12, 12, 32] )
df

    0
0  12
1  12
2  32

In [73]:
df = pd.DataFrame(data = [12, 12, 32], index = ['first', 'second', 'third'], columns = ['col_1'])
df

        col_1
first      12
second     12
third      32

In [75]:
df = pd.DataFrame(data = {'WiG20' : ['PKN Orlen', 'PKO BP'],
                          'mWiG40' : ['Amica', 'PlayWay']})

df

       WiG20   mWiG40
0  PKN Orlen    Amica
1     PKO BP  PlayWay

In [76]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [77]:
#lista column występujących w df
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [78]:
#lista indeksów występującyh w df
df.index

Index(['first', 'second'], dtype='object')

In [79]:
#wartości tablicy - zwracana jako macierz numpy
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [80]:
#informacje na temat naszego obiektu
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [81]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [82]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

#Selekcja kolumn (selekcja zmiennych)

In [83]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [85]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [86]:
type(df['col_1'])

pandas.core.series.Series

In [87]:
df[['col_1']]

        col_1
first      10
second     23

In [88]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [89]:
#zmiana nazwy dla kolumn
df.columns = ['a', 'b', 'c']
df

         a   b   c
first   10  12  13
second  23  12  10

In [90]:
df.b

first     12
second    12
Name: b, dtype: int64

In [93]:
#dodawanie nowej kolumny
df['d'] = df['a'] + df['c']
# df['d'] = df.a + df.c
df

         a   b   c   d
first   10  12  13  23
second  23  12  10  33

In [94]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

Metoda .loc

In [96]:
#w odniesieniu do obiektu za pomocą tekstu
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [98]:
df.loc['first', 'col_2']

12

In [101]:
df.loc[: ,'col_2']

first     12
second    12
Name: col_2, dtype: int64

In [97]:
#w odniesieniu do obiektu za pomocą indeksu
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [99]:
df.iloc[0, 1]

12

In [102]:
df.iloc[:, 1]

first     12
second    12
Name: col_2, dtype: int64