<a href="https://colab.research.google.com/github/lukaszek358/Data_Science_Bootcamp/blob/main/1_Wprowadzenie/1_Data_Science_Bootcamp_w_j%C4%99zyku_Python_od_A_do_Z_Numpy_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Podstawy

In [ ]:
#@title
#import biblioteki
import numpy as np
np.__version__

In [ ]:
#@title
#klasy/ metody/ atrybuty biblioteki numpy
print(dir(np))

In [ ]:
#@title
# wyświetlanie pomocy do określonej metody w biblioteki

help(np.array)

## 1D Array (tablica 1-wymiarowa [One-Dimension Array])

In [ ]:
#@title
x = np.array([1, 3])
x

In [ ]:
#@title
print(x)
print(type(x))

In [ ]:
#@title
#liczba wymiarów
x.ndim

In [ ]:
#@title
x.shape #kształt

In [ ]:
#@title
x.size #liczba elementów

In [ ]:
#@title
x.dtype #typ danych

In [ ]:
#@title
x = np.array([1.3, 2.3, 1.4])
print(x)

In [ ]:
#@title
x.dtype

##2D Array

In [ ]:
#@title
x = np.array([[1, 2], [-3, 1]])

In [ ]:
#@title
x.ndim #liczba wymiarów

In [ ]:
#@title
x.shape #wielkosć tablicy (kształt)

In [ ]:
#@title
x.size # liczba elementów

In [ ]:
#@title
x = np.array([[1, 2, 4], [4, 2, 1]])
print(x)

In [ ]:
#@title
x.shape

##3D Array

In [ ]:
#@title
x = np.array(
    [[[4, 3, 1],
      [3, 1, 2]],
     [[4, 1, 3],
      [4, 2, 1]]]
)
x

In [ ]:
#@title
x.ndim

In [ ]:
#@title
print(f' 2 elementy - 2 wiersze - 3 kolumny: \n{x.shape}')

In [ ]:
#@title
x = np.array(
    [[[4, 3, 1],
      [3, 1, 2]],
     [[4, 1, 3],
      [4, 2, 1]],
     [[3, 2, 1],
      [4, 3, 2]]]
)
x

In [ ]:
#@title
print(f' 3 elementy - 2 wiersze - 3 kolumny:\t{x.shape}')

In [ ]:
#@title
x.ndim #liczba wymiarów

# Typy danych

In [ ]:
#@title
A = np.array([1, 2, 3])
A.dtype

In [ ]:
#@title
A = np.array([1.0, 2.3, 3.3])
A.dtype

In [ ]:
#@title
A = np.array([1, 2, 3], dtype='float')
A.dtype

In [ ]:
#@title
A = np.array([1, 2, 3], dtype='complex') #complex - typ złożony
A.dtype

In [ ]:
#@title
A

In [ ]:
#@title
A = np.array([1.0, 2.7, 3.3], dtype='int')
A.dtype

In [ ]:
#@title
A

In [ ]:
#@title
A = np.array([True, False])
A.dtype

In [ ]:
#@title
A = np.array([24, 120, 230], dtype=np.int8)
A.dtype

In [ ]:
#@title
A = np.array([24, 120, 230], dtype=np.uint8)
A.dtype

#Tworzenie tablic

In [ ]:
#@title
#tworzenie tablic zbudowaną z samych zer

x = np.zeros(shape = (4, 10)) #4 wiersze, 10 kolumn
x

In [ ]:
#@title
x.dtype

In [ ]:
#@title
np.zeros(shape = (4, 10), dtype = 'int')

In [ ]:
#@title
np.ones(shape=(5, 5))

In [ ]:
#@title
np.ones(shape=(5, 5), dtype='int')

In [ ]:
#@title
np.full(shape = (3, 3), fill_value= 4, dtype = 'int')

In [ ]:
#@title
np.arange(10)

In [ ]:
#@title
np.arange(start =5, stop = 10)

In [ ]:
#@title
np.arange(start = 10, stop = 100, step = 10)

In [ ]:
#@title
np.arange(start = 100, stop = 10, step = -10)

In [ ]:
#@title
np.arange(start = 0, stop = 1, step = 0.05)

In [ ]:
#@title
np.linspace(start = 0, stop = 1, num = 11) #num - liczba elementów zwracanymch z wektorze

In [ ]:
#@title
#generowanie 15 elementów
A = np.arange(15)
A

In [ ]:
#@title
#zmiana rozmiaru danych
A.reshape((3, 5))

In [ ]:
#@title
#wykrywanie wymiaru - jako jeden element z wymiaru wpisujemy '-1', dobierany automatycznie
A.reshape((3, -1))

In [ ]:
#@title
A.reshape((-1, 3))

#Podstawowe operacje na tablicach

In [ ]:
#@title
A = np.array([3, 1, 4, 2])
B = np.array([3, -1, 3, 2])
print(A)
print(B)

In [ ]:
#@title
#dodawanie
A + B

In [ ]:
#@title
#dodawanie v2
np.add(A, B)

In [ ]:
#@title
#odejmowanie
A - B

In [ ]:
#@title
#odejmowanie v2
np.subtract (A, B)

In [ ]:
#@title
#mnożenie
A * B

In [ ]:
#@title
#mnożenie v2
np.multiply(A, B)

In [ ]:
#@title
#dzielenie
A / B

In [ ]:
#@title
#dzielenie v2
np.divide(A, B)

In [ ]:
#@title
#dodawanie 3 do każdego elementu
A + 3

## Mnożenie macierzowe

Należy zapamiętać, że mnożenie macierzowe nie jest przemienne !!!

In [ ]:
#@title
X = np.array([[1, 3], [-2, 0]])
Y = np.array([[6, 0], [-1, 2]])
print(X, '\n')
print(Y)

In [ ]:
#@title
# mnożenie macierzowe v1
np.dot(X,Y)

In [ ]:
#@title
# mnożenie macierzowe v2
X.dot(Y)

In [ ]:
#@title
# mnożenie macierzowe v3
# j.w w tytule - NIE JEST PRZEMIENNE !
Y.dot(X)

In [ ]:
#@title
# mnożenie macierzowe v4
X @ Y

#Generowanie liczb pseudolosowych

In [ ]:
#@title
np.random.seed(0)

In [ ]:
#@title
#losowa wartość z rozkładu normalnego
np.random.randn()

In [ ]:
#@title
#tablica z 10 losowo wygenerowanymi liczbami z rozkładu normalnego
np.random.randn(10)

In [ ]:
#@title
#tablica z liczbami z rozkładu normalnego jako macierz 10 na 4 (10x4)
np.random.randn(10, 4)

In [ ]:
#@title
#wartośc losowa z przedziału (0,1)
np.random.rand()

In [ ]:
#@title
# 10 wartości losowych z przedziału (0,1)
np.random.rand(10)

In [ ]:
#@title
#tablica z liczbami z rozkładu losowego z przedziału (0,1) jako macierz 10 na 2 (10x2)
np.random.rand(10, 2)

In [ ]:
#@title
#losowa liczba z przedziału od 0 do 10 (z wyłączniem 10)
np.random.randint(10)

In [ ]:
#@title
np.random.randint(low=10, high=101)

In [ ]:
#@title
# 10 liczb z określonego przedziału
np.random.randint(low=10, high=101, size=10)

In [ ]:
#@title
#losowy element z listy podanej
np.random.choice([4, 2, 1, 3, 5])

In [ ]:
#@title
np.random.choice(['python', 'java', 'sql'])

In [ ]:
#@title
# liczby od 0 do 10 jako zmienna (bez 10)
data = np.arange(10)
data

In [ ]:
#@title
#z tasowaniem - shuffle
np.random.shuffle(data)

In [ ]:
#@title
data

#Podstawowe funkcje

In [ ]:
#@title
np.exp(1)

In [ ]:
#@title
#pierwiastek kwadratowy
np.sqrt(9)

In [ ]:
#@title
#sprawdza, czy każda wartość w liście zwraca wartość logiczną
np.all([2, 3, 1])

In [ ]:
#@title
# sprawdza czy jakikolwiek obiekt jest True 
np.any([0, 0, 0])

In [ ]:
#@title
bool(1.3)

In [ ]:
#@title
A = np.random.rand(5)
A

In [ ]:
#@title
#zwrócenie najwiekszego indeksu z listy A
np.argmax(A)

In [ ]:
#@title
#wycięcie największego elementu
A[np.argmax(A)]

In [ ]:
#@title
#zwrócenie najmniejszego indeksu z listy A
np.argmin(A)

In [ ]:
#@title
#sortowanie naszej listy po indeksach w odniesieniu do wartości
np.argsort(A)

In [ ]:
#@title
np.max(A)

In [ ]:
#@title
np.min(A)

In [ ]:
#@title
np.mean(A)

In [ ]:
#@title
np.median(A)

In [ ]:
#@title
#odchylenie standardowe
np.std(A)

# Indeksowanie i wycinanie tablic

In [ ]:
A = np.arange(20)
A

In [ ]:
# A[idx], A[start:stop], A[:stop], A[start:]

In [ ]:
A[2]

In [ ]:
A[2:]

In [ ]:
A[:2]

In [ ]:
A[[0, 2]]

In [ ]:
A[-1] #indeksowanie od końca

In [ ]:
A[10:15]

In [ ]:
A = A.reshape(4, 5)
A

In [ ]:
A[1:3, 1:4]

In [ ]:
#zmiana elementu o określonych współrzędnych na inny element
A[1, 2] = 14
A

# Iteracja po tablicach

In [ ]:
A

In [ ]:
#iteracja po wierszu
for row in A:
    print(row)

In [ ]:

#iteracja po kolumnie
for row in A:
    print(row[:3])

In [ ]:
#iteracja po każdym elemencie
for item in A.flat:
    print(item)

#Zmiana rozmiaru tablic

In [ ]:
A

In [ ]:
A.shape

In [ ]:
A = A.reshape(5, 4)
A

In [ ]:
#wypłaszczanie danych z tablicy
A.ravel()

In [ ]:
#transponowanie tablicy
A.T

#Maski logiczne

In [ ]:
A = np.arange(start=-10, stop=10, step=0.5)
A = A.reshape(10, -1)
A

In [ ]:
A > 0

In [ ]:
#zwracanie wartości spełniających warunek
A[A > 0]

In [ ]:
#wartości spełniające warunek z przedziału w tablicy
np.bitwise_and(A > -5, A < 5)

In [ ]:
np.bitwise_or(A < -5, A > 5)

In [279]:
#wartości spełniające warunek
A[np.bitwise_and(A > -5, A < 5)]

array([-4.5, -4. , -3.5, -3. , -2.5, -2. , -1.5, -1. , -0.5,  0. ,  0.5,
        1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5])